data.txt
apidata.txt
__pycache__
.vscode
test-reports
.DS_Store
virt/
venv/
base-env/
buildenv/
nohup*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
